*{
    padding: 0%;
    margin: 0%;
}

body{
    width: 100%;
    height: 100%;
    
}

.barra{
    width: 100%;
    height: 20%;
    background-color: #0E86DF;
    color: white;
    text-align: center;
}

.contenedor{
    width: 100%;
    height: 80%;
}

    .mitad_uno{
        width: 30%;
        height: 100%;
        position: fixed;
    }

        .postics{
            width: 80%;
            height: 60%;
            background-color: greenyellow;
            margin-top: 30%;
            margin-left: 7%;
        }

        #titulo{
            width: 90%;
            height: 10%;
            margin-top: 15px;
            margin-left: 10px;
            margin-bottom: 20px;
            padding-left: 5px;
            padding-right: 5px;
        }

        #mensaje{
            width: 90%;
            height: 70%;
            margin-left: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }

        label{
            margin-left: 10px;
            font-weight: bold;
        }

        #field{
            width: 100px;
            margin-top: 7px;
        }

        #agregar{
            width: 70px;
            margin-left: 50px;
        }


    .mitad_dos{
        width: 70%;
        height: 100%;
        background-color: green;
        position: fixed;
        margin-left: 30%;    
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    .msjError{
        background-color: red;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        max-width: 400px;
        margin: 0 auto;
        color: white;
    }

    .personal{background-color: wheat;}
    .escuela{background-color: teal;}
    .trabajo{background-color: thistle;}
    .notas{
        width: 170px;
        height: 200px;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        position: relative;
        margin-top: 40px;
        margin-left: 40px;
        float: left;
    }

    .notas h2{
        margin-top: 20px;
    }

    .borrarNota,
    .borrarNota:hover{
        float: right;
        cursor: pointer;
        color: red;
        font-weight: bold;
    }

